# Konfiguracja kompilowana do produkcyjnego Flutter Web.
INVENTORY_API_BASE_URL=https://b2b8101.excellent.com.pl
BHP_API_BASE_URL=https://b2b8103.excellent.com.pl
CORE_API_BASE_URL=https://b2b8104.excellent.com.pl
SENTRY_DSN=
